<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-content>
      <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350" class="ion-content-scroll-host">
        <ion-list>
          <ion-item *cdkVirtualFor="let item of items">
            <ion-avatar slot="start">
              <ion-icon name="accessibility-outline"></ion-icon>
            </ion-avatar>
            <ion-label> {{ item }} </ion-label>
          </ion-item>
        </ion-list>
      </cdk-virtual-scroll-viewport>
    </ion-content>
  </div>
</ion-content>
